<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

       <context:annotation-config/>

       <!-- Definition for student bean -->
       <bean id="student" class="com.hx78.spring.Student">
              <property name="name" value="Zara" />
              <!-- try without passing age and check the result -->
              <property name="age" value="11" />
       </bean>

       <!-- Definition for textEditor bean without constructor-arg -->
       <!--<bean id="textEditor" class="com.hx78.spring.TextEditor">-->
       <!--</bean>-->
       <!-- Definition for spellChecker bean -->
       <bean id="spellChecker" class="com.hx78.spring.SpellChecker">
       </bean>
</beans>