<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

       <context:annotation-config/>

       <!-- 自动扫描 -->
       <context:component-scan base-package="com.hx78.spring"/>

       <!-- Definition for student bean -->
       <bean id="student" class="Student">
              <property name="name" value="Zara" />
              <!-- try without passing age and check the result -->
              <property name="age" value="11" />
       </bean>

       <bean id="student1" class="Student">
              <property name="name" value="smatha" />
              <!-- try without passing age and check the result -->
              <property name="age" value="1" />
       </bean>

       <bean id="student2" class="Student">
              <property name="name" value="lala" />
              <!-- try without passing age and check the result -->
              <property name="age" value="2" />
       </bean>

       <!-- Definition for textEditor bean without constructor-arg -->
       <bean id="textEditor" class="TextEditor">
       </bean>
       <!-- Definition for spellChecker bean -->
       <bean id="spellChecker" class="SpellChecker">
       </bean>

       <!-- Definition for profile bean -->
       <bean id="profile" class="com.hx78.spring.jdbc.Profile">
       </bean>

       <bean id="helloWorld" name="helloWorld" class="com.hx78.spring.jdbc.service.impl.HelloWorldImpl">

       </bean>
</beans>